{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Currículos</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <h1>Portal de Currículos</h1>

    <p>Bem vindo ao Portal de Currículos de Astronautas</p>

    <p>
        Este portal é dedicado a fornecer informações detalhadas sobre os currículos de astronautas. 
        Aqui, você encontrar dados sobre a formação acadêmica, experiência profissional, missões espaciais 
        e outras informações relevantes sobre os astronautas que participaram de missões espaciais ao redor 
        do mundo.
    </p>

    <nav>
        <h2>Referências Externas</h2>
        <a href="https://www.puc-rio.br/">Pontifícia Universidade Católica do Rio de Janeiro</a>

        <h2>Currículos</h2>
        <a href="spiff.html">Astronauta Spiff</a>
    </nav>
</body>
</html>